# refresh 20260107
# refresh 20260107
streamlit==1.32.2
streamlit-pdf-viewer>=0.0.26
openpyxl>=3.1.2
python-docx>=0.8.11
ffmpeg-python>=0.2.0
python-snap7>=1.5.0
sounddevice>=0.4.6
vosk>=0.3.45
requests==2.31.0
